cd<!DOCTYPE html>
<html>
<head>
  <title>Item Details</title>
</head>
<body>
  <h1>Item Details</h1>
  <p>Name: <%= item.name %></p>
  <p>Description: <%= item.description %></p>
  <form action="/delete/<%= item._id %>" method="post">
    <button type="submit">Delete</button>
  </form>
  <a href="/">Back to Home</a>
</body>
</html>
